<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="AppName" value="InstagramWeb"/>
    <Parameter name="AppBaseURL" value="https://www.instagram.com/"/>
    
    <Parameter name="SeleniumRemote" value="http://localhost:4444/wd/hub"/>
    <Parameter name="SeleniumBrowser" value="Chrome"/>
    <Parameter name="SeleniumBrowserVersion" value="125.0"/>
    <Parameter name="IsSelenoid" value="false"/>
    <Parameter name="IsEnableVideo" value="false"/>

    <Parameter name="Username" value="dnosndii"/>
    <Parameter name="Password" value=""/>

    <Parameter name="SeleniumWait" value="10"/>
    <Parameter name="SeleniumTimeout" value="60"/>
    <Parameter name="SeleniumSleep" value="1"/>
  </TestRunParameters>
</RunSettings>
